<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springbootexample.dao.PhotoDao">

    <insert id="savePhoto">
        insert into photo (userId, photoName, photoPath)
        values ("${userId}", "${photoName}","${photoPath}");
    </insert>

    <select id="getPhotosWithUserId">
        select * from photo where userId = #{userId};
    </select>

    <delete id="deletePhoto">
        delete from photo where photoID = #{photoID};
    </delete>

</mapper>
