<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springbootexample.dao.PhotoDao">

    <insert id="savePhoto">
        insert into photo (userId, photoName, photoPath)
        values ("${userId}", "${photoName}","${photoPath}");
    </insert>

    <resultMap id="photoQueryMap" type="com.example.springbootexample.model.Photo">
        <id column="photoID" jdbcType="INTEGER" property="photoID" />
        <result column="photoPath" jdbcType="VARCHAR" property="photoPath" />
        <result column="userId" jdbcType="INTEGER" property="userId" />
        <result column="photoName" jdbcType="VARCHAR" property="photoName" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <select id="getPhotosWithUserId" resultMap="photoQueryMap">
        select photoID, userId, photoName, photoPath, updateTime from photo where userId = #{userId};
    </select>

    <delete id="deletePhoto">
        delete from photo where photoID = #{photoID};
    </delete>

</mapper>
